HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### node_modules ###
/dummy_server/node_modules
/sims_charts/node_modules

### auth server ###
/auth_server/node_modules
/auth_server/config.js

### gateway ###
/gateway/node_modules
/gateway/config.js

### user server ###
/user_server/node_modules
/user_server/config.js